.event-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
}
.event{
    width: 100%;
    height: auto;
    display: flex;
    background-color: lightgray;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}
.event img{
    width: 250px;
    height: 150px;
    border-radius: 15px;
    margin-right: 20px;
}
.event button{
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: rgb(0, 72, 255);
    padding: 10px 20px;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
}